@import 'normalize';
@import 'settings';
@import 'foundation';

header {
	background-color: scale-color($primary-color, $lightness: 0%);
	padding: 1rem;
	margin-bottom: 1rem;
}

#bvd {
	background-color: #f9f9f9;
	padding: 1rem 1rem 0;
	margin-bottom: 1rem;
}

.rx, .newRx {
	h2 {
		margin-top:0.75rem;
	}
}

input[readonly] {
	border: none;
	box-shadow: none;
}