@import 'normalize';
@import 'settings';
@import 'foundation';

body > header {
	background-color: scale-color($primary-color, $lightness: 10%, $saturation: -20%);
	padding: 1rem;
	
	h1 {
		color: scale-color(white, $lightness: -1%);
		//text-shadow: 0 0 15px rgba(255,255,255,.5);
		
		small a {
			color:scale-color(white, $lightness: -15%);
			
			&:hover {
				color:scale-color(white, $lightness: -5%);
				text-decoration: underline;
			}
		}
	}
}

#bvd, .ad {
	background-color: #f9f9f9;
	padding: 1rem 1rem 0;
	margin-bottom: 1rem;
}

.ad {
	padding-bottom: 1rem;
}

.rx, .newRx {
	h2 {
		margin-top:0.75rem;
	}
}

input[readonly] {
	border: none;
	box-shadow: none;
}