@import 'normalize';
@import 'settings';
@import 'foundation';

header {
	background-color: scale-color($primary-color, $lightness: 0%);
	padding: 1rem;
	margin-bottom: 2rem;
}

#bvd {
	background-color: #f9f9f9;
	padding-top: 1rem;
	margin-bottom: 1rem;
}